<div class="col-sm-8 blog-main">

  <h2><%=@blog.title%></h2>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%>

  <p>
    <%= @blog.title %>
  </p>

  <!-- Start Of Comment Form -->
  <%= render 'comments/comment_form'%>
  <!-- End of Comment Form -->

  <!-- Start Of Comment Form -->
  <%= render @blog.comments%>
  <!-- End of Comment Form -->
</div>
